:root{
    --color-red: #E72F24;
    --color-white: #F0F1EC;
    --color-gap: #000;
    --color-black: #232629;
    --color-blue: #004592;
    --color-yellow: #F9D01E;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}


.container {
    height: 748px;
    width: 748px;
    display: grid;
    background-color: var(--color-gap);
    grid-template-columns: 320px 198px 153px 50px;
    grid-template-rows: 414px 130px 155px 22px;
    gap: 9px;
}
.item {
    background-color: var(--color-white);
}
.red{
    background-color: var(--color-red);
    
}
.white1{
    background-color: var(--color-white);
    grid-column: span 3;
}
.white2{
    background-color: var(--color-white);
    grid-row: span 2;
}

.white3{
    background-color: var(--color-white);
    grid-column: span 2;
    grid-row: span 2
}
.blue{
    background-color: var(--color-blue);
    border-bottom: 10px solid #000;
}
.white4{
    background-color: var(--color-white);
    grid-row: span 2
}

.yellow{
    background-color: var(--color-yellow);
}

.black{
    background-color: var(--color-black);
}
